<ion-content class="has-header">

  <div *ngIf="value === 1 || value === '1'">

    <div align="center">
      <img src="imgs/logo.PNG" style="width:55%"/>
    </div>

<div align="center" style="margin-top:20%;padding:5%">

      <ion-item style="border-radius:30px 30px;" no-line>        
        <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
        <ion-input placeholder="Email" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item style="border-radius:30px 30px;margin-top:7px" no-line>        
        <ion-label><ion-icon name="ios-key-outline"></ion-icon></ion-label>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <div align="right" style="margin-top:10px;padding-right:20px">
        <p (click)="forget()">Forget Password ?</p>
      </div>
   
    </div>
 

    <div align="center">
    <button ion-button round full style="width:75%;color:white;background-color:black" (click)="login()">Login</button>
  </div>

  <!-- <div align="center" (click)="registerpage()">
  <p>Don't have an account ? Click to Register</p>
</div> -->

  </div>


  <div *ngIf="value === 2 || value === '2'">
    
    <div style="margin-top:85px;padding:5%">
     
      <ion-item style="border-radius:30px 30px;">        
        <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
        <ion-input placeholder="Your Email" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
        <ion-input placeholder="Full Name" type="text" [(ngModel)]="name"></ion-input>
      </ion-item>


      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-key-outline"></ion-icon></ion-label>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-key-outline"></ion-icon></ion-label>
        <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="conpassword"></ion-input>
      </ion-item>

      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-call-outline"></ion-icon></ion-label>
        <ion-input placeholder="Phone Number" type="number" [(ngModel)]="phone_number"></ion-input>
      </ion-item>

      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-call-outline"></ion-icon></ion-label>
        <ion-input placeholder="Post Code" type="text" [(ngModel)]="post_code"></ion-input>
      </ion-item>

   
      <ion-item style="border-radius:30px 30px;margin-top:7px">        
        <ion-label><ion-icon name="ios-call-outline"></ion-icon></ion-label>
      <ion-datetime style="position: absolute; left: 23px;" placeholder="Date of Birth" displayFormat="DD MMMM YYYY" min="1900" max="2019" [(ngModel)]="mydate"></ion-datetime>
      </ion-item>


    </div>

    <div align="center">
    <button ion-button round full style="width:75%;color:white;background-color:black" (click)="signup()">Register</button>
  </div>

  <!-- <div align="center" (click)="loginpage()">
  <p style="color:black">Already have an Account ? Click to Signin</p>
  </div> -->
  </div>

  <div *ngIf="value === 3 || value === '3'">
    
    <ion-list style="margin-top:150px;padding:5%">
      <div align="center">
      <h4 style="color:black">Enter your registered Email</h4>

      <ion-item style="border-radius:30px 30px;">        
        <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
        <ion-input placeholder="Your Email" type="text" [(ngModel)]="change_email"></ion-input>
      </ion-item>

      </div>
    </ion-list>

    <div align="center">
      <button ion-button round full style="width:75%;color:white;background-color:black" (click)="reset_pass()">Reset Password</button>

      <p (click)="backto()">Take me back</p>
    </div>
  </div>

</ion-content>