<ion-content class="has-header">

  <div *ngIf="value === 1 || value === '1'">

    <div align="center">
      <img src="imgs/logo.png" style="width:55%"/>
    </div>

    <ion-list style="margin-top:15px;padding-left:10px;padding-right:10px">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <div align="right" style="margin-top:10px">
        <p (click)="forget()">Forget Password ?</p>
      </div>

    </ion-list>

    <div align="center">
    <button ion-button round full style="width:75%" (click)="login()">Login</button>
  </div>

  <div align="center" (click)="registerpage()">
  <p>Don't have an account ? Click to Register</p>
</div>

  </div>


  <div *ngIf="value === 2 || value === '2'">
    
    <ion-list style="margin-top:85px;padding-left:10px;padding-right:10px">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="conpassword"></ion-input>
      </ion-item>

    </ion-list>

    <div align="center">
    <button ion-button round full style="width:75%" (click)="signup()">Register</button>
  </div>

  <div align="center" (click)="loginpage()">
  <p>Already have an Account ? Click to Signin</p>
  </div>
  </div>

  <div *ngIf="value === 3 || value === '3'">
    
    <ion-list style="margin-top:150px;padding-left:10px;padding-right:10px">
      <div align="center">
      <h4 style="color:white">Enter your registered Email</h4>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      </div>
    </ion-list>

    <div align="center">
      <button ion-button round full style="width:75%">Send</button>

      <p (click)="backto()">Take me back</p>
    </div>
  </div>

</ion-content>