page-contact {
    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #999;
        margin-left: 8px;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: white;
        opacity: 1;
    }
}
